
<div class="card  m-3 p-2">
  <div class="grid grid-cols-2 flex justify-content-start gap-2 p-2 bg-gray-100 mb-3 -mt-3 rounded-xl">
    <button pButton label="Add Category" class="p-button-text bg-white border-blue-500 mx-0.5 p-1 text-sm gap-2" (click)="openSaveDialog()" ></button>
  </div>
  <div class="card ">
      <p-table [value]="categories" >
      <ng-template pTemplate="caption" >
        <div class="flex align-items-center justify-content-start">
          <h3>Categories</h3>
        </div>
      </ng-template>
      <ng-template pTemplate="header" >
        <tr>
          <th>id</th>
          <th>Label</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cat>
        <tr>
          <td>{{cat.id}}</td>
          <td><p-tag [value]="cat.label" severity="success" ></p-tag></td>
          <td>{{cat.description}}</td>

          <td>
            <button pButton label="Delete" class="p-button-warning mx-2 p-2" (click)="daleteCategorie(cat.id)"></button>
            <button pButton label="Update" class="p-button-primary mx-2 p-2" ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are {{categories ? categories.length : 0 }} category.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>




<p-dialog header="Add Category" [(visible)]="displaySaveDialog" [modal]="true" [responsive]="true">
  <div class="p-fluid">
    <div class="p-field">
      <label for="label">Label</label>
      <input id="label" pInputText [(ngModel)]="newCategorie.label" />
    </div>
    <div class="p-field">
      <label for="label">Description</label>
      <input id="desc" pInputText [(ngModel)]="newCategorie.description" />
    </div>
  </div>

  <div class="p-dialog-footer mt-2">
    <button pButton label="Save" class="p-button-success" (click)="saveCategorie()"></button>
    <button pButton label="Cancel" class="p-button-secondary" (click)="displaySaveDialog = false"></button>
  </div>
</p-dialog>

